.wrapper{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 7px 12px 7px 15px;
    
    &:hover{
        background: rgba(22, 24, 35, 0.03);
        cursor: pointer;
    }
}
.avatar{
    border-radius: 50%;
    height: 40px;
    width: 40px;
    object-fit: cover;
    margin-left: 0 12px;
}

.infor{
    display: flex;
    flex-direction: column;
    padding-left: 12px;
}

.name{
    font-size: 1.4rem;
}
.check{
    margin-left: 6px;
    color: rgb(32, 213, 236);
}
.username{
    font-size: 1.3rem;
}
